<li class="media res">
    <div class="media-left media-middle">
            <img class="avatar rounded media-object" src="layout/images/icon.jpg" height="64" width="64"/>
    </div>
    <div class="card media-body">
        <div class="card-header res-header text-muted">
            <span class="res-header-left">
            <span class="res-no">982</span> : 
            <span class="res-name">しょこらふれっくす</span>
            </span>
            <span class="res-header-right float-xs-right">
                <span class="res-data"><small>2016/11/07 12:43</small></span>
                <a class="nav-link text-muted" href="#"><i class="fa fa-remove"></i></a>
            </span>
        </div>
        <div class="res-text card-block">
            <p>
            昨日初めて自宅にデリヘルを呼んだんだけど<br />
            <br />
            電話して数十分してチャイムがなったので出てみると、絶対ＮＧな<br />
            推定50歳ほどのオバサンが玄関に立ってたので<br />
            『チェンジ！！』<br />
            と一喝して追い返した<br />
            やがて時を待たずチャイムが鳴り今度はナイスなギャルがご登場したわけだが<br />
            <br />
            最初に訪れたオバサンが実は近所に引っ越してきて挨拶にきた方と<br />
            判るまで時間は要さなかった。
            </p>
            <ul class="list-inline card-text res-adaptive-media">
                <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
            </ul>
            <ul class="res-action nav nav-inline">
                <li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa fa-comment"></i>返信</a></li>
            </ul>
        </div>
    </div>
</li>