<div class="col-sm-4 sidebar res-sidebar">
    <div class="card res">
        <div class="card-header res-header">
            書き込み
        </div>
        <form class="res-form card-block">
            <div class="form-group">
                <textarea class="form-control" id="res-message" cols="30" name="res-message" placeholder="メッセージ" rows="4"></textarea>
            </div>
            <div class="form-group">
                <div flow-init="{target: '/upload'}" flow-file-success="$file.msg = $message">
                    <div ng-repeat="file in $flow.files">
                        <div class="text-truncate float-xs-left" style="width : 90%">{{file.name}}</div>
                        <a href="#" class="float-xs-right"><i class="fa fa-remove"></i></a>
                    </div>

                    <button class="btn btn-outline-success btn-sm" flow-btn>ファイルを添付</button>
                </div>
            </div>
            <button class="btn btn-primary">投稿</button>
        </form>
    </div>
</div>