<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Streams</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <app>
    <header>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse" ng-controller="NavCtrl">
            <a class="navbar-brand" href="#">Streams</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-home fa-lg"></i>ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-users"></i>グループ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user"></i>プロフィール</a>
                </li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item" ng-if="!isAuthenticated()">
                    <a class="nav-link" href="#/login">ログイン</a>
                </li>
                <li class="nav-item" ng-if="isAuthenticated()">
                    <a class="nav-link" href="#/logout">ログアウト</a>
                </li>
                <li class="nav-item float-xs-right" ng-if="!isAuthenticated()">
                    <a class="btn btn-primary" href="#/signup">ユーザー登録</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ol class="list-unstyled">
                        <li >
                            <div class="media res">
                                <div class="media-left media-middle">
                                        <img class="avatar rounded media-object" src="layout/images/icon.jpg" height="64" width="64"/>
                                </div>
                                <div class="card media-body">
                                    <div class="card-header res-header text-muted">
                                        <span class="res-header-left">
                                        <span class="res-no">982</span> : 
                                        <span class="res-name">しょこらふれっくす</span>
                                        </span>
                                        <span class="res-header-right float-xs-right">
                                            <span class="res-data"><small>2016/11/07 12:43</small></span>
                                            <a class="nav-link text-muted" href="#"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </div>
                                    <div class="res-text card-block">
                                        <p>
                                        昨日初めて自宅にデリヘルを呼んだんだけど<br />
                                        <br />
                                        電話して数十分してチャイムがなったので出てみると、絶対ＮＧな<br />
                                        推定50歳ほどのオバサンが玄関に立ってたので<br />
                                        『チェンジ！！』<br />
                                        と一喝して追い返した<br />
                                        やがて時を待たずチャイムが鳴り今度はナイスなギャルがご登場したわけだが<br />
                                        <br />
                                        最初に訪れたオバサンが実は近所に引っ越してきて挨拶にきた方と<br />
                                        判るまで時間は要さなかった。
                                        </p>
                                        <ul class="list-inline card-text res-adaptive-media">
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                        </ul>
                                        <ul class="res-action nav nav-inline">
                                            <li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa fa-comment"></i>返信</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="media res">
                                <div class="media-left media-middle">
                                        <img class="avatar rounded media-object" src="layout/images/icon.jpg" height="64" width="64"/>
                                </div>
                                <div class="card media-body">
                                    <div class="card-header text-muted text-xs-left">
                                        <span class="res-no">982</span> : 
                                        <span class="res-name">しょこらふれっくす</span>
                                        <span class="res-data float-xs-right"><small>2016/11/07 12:43</small>
                                        </span>
                                    </div>
                                    <p class="res-text card-block">
                                        昨日初めて自宅にデリヘルを呼んだんだけど<br />
                                        <br />
                                        電話して数十分してチャイムがなったので出てみると、絶対ＮＧな<br />
                                        推定50歳ほどのオバサンが玄関に立ってたので<br />
                                        『チェンジ！！』<br />
                                        と一喝して追い返した<br />
                                        やがて時を待たずチャイムが鳴り今度はナイスなギャルがご登場したわけだが<br />
                                        <br />
                                        最初に訪れたオバサンが実は近所に引っ越してきて挨拶にきた方と<br />
                                        判るまで時間は要さなかった。
                                    </p>
                                    <div class="card-footer res-footer">
                                        <ul class="list-inline card-text res-adaptive-media">
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                        </ul>
                                        <ul class="res-action nav">
                                            <li class="nav-item"><a class="nav-link text-muted" href="#"><i class="fa fa-comment"></i>返信</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                                                <li >
                            <div class="media res">
                                <div class="media-left media-middle">
                                        <img class="avatar rounded media-object" src="layout/images/icon.jpg" height="64" width="64"/>
                                </div>
                                <div class="card media-body">
                                    <div class="card-header text-muted text-xs-left">
                                        <span class="res-no">982</span> : 
                                        <span class="res-name">しょこらふれっくす</span>
                                        <span class="res-data float-xs-right"><small>2016/11/07 12:43</small>
                                        </span>
                                    </div>
                                    <div class="res-text card-block">
                                        <p class="card-text"></p>
                                    </div>
                                    <div class="card-block">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img src="layout/images/image.png" height="84" /></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img src="layout/images/image.png" height="84" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="list-inline card-text res-adaptive-media">
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                        </ul>
                                        <ul class="res-action nav float-xs-right">
                                            <li class="nav-item"><a class="nav-link" href="#">返信</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="media res">
                                <div class="media-left media-middle">
                                        <img class="avatar rounded media-object" src="layout/images/icon.jpg" height="64" width="64"/>
                                </div>
                                <div class="card media-body">
                                    <div class="card-header text-muted text-xs-left">
                                        <span class="res-no">981</span> : 
                                        <span class="res-name">しょこらふれっくす</span>
                                        <span class="res-data float-xs-right"><small>2016/11/07 12:43</small>
                                        </span>
                                    </div>
                                    <div class="message card-block">
                                        <p class="res-text">
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                            abcdehghijklmnopqrstuvwxyzあいうえおかきくけこ
                                        </p>
                                        <ul class="list-inline card-text">
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                            <li class="list-inline-item"><a href="layout/images/image.png"><img class="rounded" src="layout/images/image.png" height="84"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-4 sidebar">
                    <aside class="res-sidebar">
                        <div class="card res">
                            <div class="card-header res-header">
                                書き込み
                            </div>
                        <form class="res-form card-block">
                        <div class="form-group">
                            <textarea class="form-control" id="res-message" cols="30" name="res-message" placeholder="メッセージ" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <div flow-init="{target: '/upload'}" flow-file-success="$file.msg = $message">
                                <div ng-repeat="file in $flow.files">
                                    <div class="text-truncate float-xs-left" style="width : 90%">{{file.name}}</div>
                                    <a href="#" class="float-xs-right"><i class="fa fa-remove"></i></a>
                                </div>

                                <button class="btn btn-outline-success btn-sm" flow-btn>ファイルを添付</button>
                            </div>
                        </div>
                        <button class="btn btn-primary">投稿</button>
                    </form>
                            </div>
                            </aside>

                </div>
            </div>
        </div>
    </div>
    <footer class="navbar navbar-light bg-faded">
        <div class="container">
        <nav class="nav navbar-nav">
            <p><a href="#/">@chocolaflex</p>
        </nav>
            </div>
    </footer>
    </app>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.7.4/ng-flow-standalone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/controllers/nav.js"></script>
    <script src="javascripts/controllers/home.js"></script>
    <script src="javascripts/controllers/login.js"></script>
    <script src="javascripts/controllers/logout.js"></script>
    <script src="javascripts/controllers/signup.js"></script>
    <script src="javascripts/stream.js"></script>
    <script>
        $('.res-sidebar').css('width', $('.sidebar').outerWidth());
    </script>
</body>
</html>
